<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <!-- Global CSS -->
    <link rel="stylesheet" href="/path-to-your-global-styles.css" />
  </head>
  <body>

    <slot />
    
  </body>
</html>
